.titre{
    font-family: "Comic Sans MS";
    font-size: 50px;
    background-color: dodgerblue;
    background-size: 50px;
    text-align: center;
    border: navy 5px solid;
}

.titre:hover{
    color: blue;
}

#container-image{
    bottom: 20px;
    opacity: 1;
    position: relative;
    display: block;
    margin: 2% 1% 3% 5%;
}
#container-image img {
    width: 20%;
    height: 20%;
    	border : 5px white solid;
}

#container-image img:hover{
	border : 5px blue solid;
}

