@charset "UTF-8";

#p-titre{
    background-color: #0a8fb6;
    color: white;
    text-align: center;
    font-size: 150%;
    margin-right: 45%;
    margin-left: 45%;
    font-family: "Comic Sans MS";
}

#container-image{
    bottom: 20px;
    position: relative;
}

img{
    width: 300px;
    height: 300px;
    margin-top: 3%;
    border: white 3px solid;

}
img:hover{
    border: #0a8fb6 3px solid;
    cursor : pointer;
}

.containerimg {
    position: relative;
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}

.nom-p{
    position: center;
    background-color: #0a8fb6;
    opacity: 0.8;
    color: white;
    text-align: center;
    height: 30px;
    font-size: 20px;
    font-family: "Comic Sans MS";
}

.retour-index a{
    background-color: #0a8fb6;
    font-size: 150%;
    color: white;
    text-decoration: none;
    font-family: "Comic Sans MS";
}

